#root {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    font-size: 15px;
    color: #777;
}

a {
    text-decoration: none;
}

.full-height {
    height: 100%;
    max-height: 100%;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.logo-list {
    margin-top: 25px;
}

.logo-list .style1 {
    width: 190px !important;
    height: 105px !important;
    background: white;
    background-repeat: no-repeat !important;
    background-size: 80%;
    background-position: center !important;
    border: 1px solid #e3e3e3 !important;
    margin: 0 -1px 0 0;
}

.logo-list .style2 {
    width: 190px !important;
    height: 105px !important;
    background: white;
    background-repeat: no-repeat !important;
    background-size: 96px 94.4px;
    background-position: center !important;
    border: 1px solid #e3e3e3 !important;
    margin: 0 -1px 0 0;
}

.bgimg-1 {
    background-image: url("../imgs/bg.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../imgs/bg2.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../imgs/bg3.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("../imgs/bg4.jpg");
    min-height: 400px;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.w3-top {
    line-height: 2;
}

.cat-list img {
    width: 217px;
    height: 150px;
}

.cat-list img:hover {
    cursor: pointer;
}

#bar-imformation p{
    padding: 0 80px;
}

.flex-box {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.black-blue {
    background-color: #1b2634;
}

ul {
    list-style: none;
    margin: 0;
}

#select-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px 20px 3px;
    overflow-x: auto;
    overflow-y: hidden;
}

#select-bar > li {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    cursor: pointer;
}

.select-bar-item-selected {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.75), 0px 0px 0px 2px #009cff;
    opacity: 1 !important;
}

.dropdown-content {
    color: white;
    z-index: 500;
    position: absolute;
    background-color: #2d3744;
    width: 200px;
    top: 38px;
    right: 20px;
    display: none;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-content > li {
    box-shadow: inset 0 -1px 0 0 rgba(27, 38, 52, 0.56);
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-content > li:hover {
    background-color: #3f4854;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#result > li {
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 rgba(28, 40, 56, 0.12);
}

.a-hover {
    text-decoration: none;
}

.a-hover:hover {
    text-decoration: underline;
}

.wb-hoverable:hover {
    cursor: pointer !important;
    color: #9cd3ff !important;
}

@media screen and (max-width: 900px) {
    #demo-view {
        flex-direction: column;
    }

    #image-view {
        width: 100% !important;
    }

    #result-view {
        width: 100% !important;
    }

    #url-form {
        position: fixed !important;
    }

    #selected-image-canvas-view {
        margin: 0 !important;
    }

    #selected-image-view {
        max-width: 38% !important;
    }

    #compare-image-view {
        max-width: 48% !important;
    }
}

.wb-blue {
    background: #55ACEE;
}

.wb-black-blue {
    background: #292F33;
}

.wb-margin-top-64 {
    margin-top: 64px;
}

@media screen and (min-width: 1122px) {
    .wb-hover-card {
        lineHeight: 1.71428571;
        margin: 80px 50px;
        transition: all 0.3s ease;
        border: 2px solid #e7e7e7;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1121px) {
    .wb-hover-card {
        width: 80%;
        lineHeight: 1.71428571;
        margin: 60px 50px;
        transition: all 0.3s ease;
        border: 2px solid #e7e7e7;
        border-radius: 10px;
    }
}

@media screen and (min-width: 548px) {
    .wb-hover-card img {
        margin-bottom: 10px;
        max-width: 400px;
        max-height: 225px;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 548px) {
    .wb-hover-card img {
        margin-bottom: 10px;
        max-width: 133px;
        max-height: 125px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.wb-hover-card p {
    padding: 16px 64px;
}

.wb-hover-card h4 {
    color: #777;
    padding-top: 28px;
    padding-bottom: 24px;
}

.wb-hover-card:hover {
    transition: all 0.3s ease;
    border: 2px solid #42b7ca !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08);
}

@media screen and (min-width: 1760px) {
    .wb-home-text {
        top: 35% !important;
        white-space: nowrap !important;
    }
}

@media screen and (max-width: 1759px) {
    .wb-home-text {
        top: 40% !important;
        white-space: nowrap !important;
    }

    .wb-home-text h1 {
        font-size: 30px;
    }

    .wb-home-text h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1133px) {
    #wb-recruitment-content {
        max-width: 700px;
    }
}

@media screen and (max-width: 900px) {
    #wb-recruitment-content {
        max-width: 500px;
    }

    #wb-recruitment-body {
        padding-left: 25px !important;
    }
}

@media screen and (max-width: 580px) {
    #wb-recruitment-content {
        max-width: 300px;
    }

    #wb-recruitment-head {
        font-size: 25px !important;
    }

    #wb-recruitment-body {
        padding-left: 25px !important;
    }

    #wb-recruitment-body h3 {
        font-size: 19px !important;
    }

    #wb-recruitment-body li {
        font-size: 14px !important;
    }
}

.wb-hide {
    visibility: hidden;
}

.wb-show {
    visibility: visible;
}

.wb-start-animation {
    animation-play-state: running
}

.wb-popups {
    animation-name: popups;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.wb-move-from-bottom {
    animation-name: moveFromBottom;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.wb-move-from-top {
    animation-name: moveFromTop;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.wb-move-from-left {
    animation-name: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes popups {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0.1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0.1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hover-scale-big:hover {
    cursor: pointer;
    animation-name: scaleBig;
    animation-duration: 600ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes scaleBig {
    0% {

    }

    100% {
        transform: scale(1.1, 1.1);
    }
}

.fade-in-rotate {
    animation-name: fadeInRotate;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes fadeInRotate {
    0% {
        transform: rotateX(-180deg);
        opacity: 0.1;
    }

    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.vt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
